.ribbon-cut {
  clip-path: polygon(0 0, 100% 0, 80% 50%, 100% 100%, 0 100%);
}

/* .fc-daygrid-day .fc-daygrid-week .fc-dayGridWeek-view {
  border: 1px solid red;
  width: 10px;
}

.fc-col-header-cell {
  width: 20px !important;
}

[role="columnheader"] {
  width: 20px !important;
} */

.fc-custom-header-cell {
  text-align: center;
  /* display: flex;
  justify-content: center;
  width: 100%; */
  align-items: center;
}

.fc-custom-cell {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.fc-daygrid-day-top {
  /* flex-direction: column; */
  justify-content: center;
}

.fc-daygrid-event-harness {
  height: 50px;
}

/* [role="gridcell"] {
  display: flex;
  justify-content: center;
} */

/* .fc-daygrid-day-top {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .fc-daygrid-day-number {
  font-size: 1rem;
} */

/* .fc-daygrid-day-text {
  font-size: 0.8rem;
} */

/* デフォルトのスタイルを上書きする場合 */
/* .fc-daygrid-day {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .fc-daygrid-day-number {
  display: block;
} */
